.poll__results-graphics{
  height: 807px;
  background-color: #E5EAD9;
  margin-bottom: 50px;
}

.poll__results-list{
  height: 200px;
  overflow-y: scroll;
  background-color: #E5EAD9;

  .poll__results-title{
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    margin-top: 10px;
  }
}
