<header class="header">
  <div class="container">
    <section class="header__content">
      <div class="header__left-wrapper">
        <a href="/polls/polls-list" class="header__logo">
          <img class="header__logo-img" src="./assets/images/polls-system-logo.svg" alt="Polls-System">
        </a>
      </div>
      <div class="header__center-wrapper">
        <a href="#" class="header__center-title">
          My Polls
        </a>
      </div>
      <div class="header__right-wrapper">
        <a href="/accounts-settings" class="header__account-icon">
          <mat-icon>manage_accounts</mat-icon>
        </a>
        <a href="" class="header__logout-icon">
          <mat-icon>exit_to_app</mat-icon>
        </a>
      </div>
    </section>
  </div>
</header>
