html,
body{
  box-sizing: border-box;
  height: 100%;
}

*, *::after, *::before{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

input{
  height: 30px;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 60px 0 20px;
  font-size: 18px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 10px;
  scrollbar-width: thin;
}

/* Track */
::-webkit-scrollbar-track {
  background:  #E5EAD9;
}

::-webkit-scrollbar-button:start,
::-webkit-scrollbar-button:end {
  height: 1vh;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border: 0.1rem solid #1A1E2B;
  border-radius: 1.2rem;
}
