<div class="verify__password-wrapper" *ngIf="!isVerified">
  <a class="verify__password-back" href="/accounts-settings">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <div class="verify__password-content">
    <label class="verify__password-label">Verify Your Current Password:</label>
    <div class="verify__password-wrap">
      <input class="verify__password-input" type="text" placeholder="Enter your current password" [(ngModel)]="currentPassword"/>
    </div>
  </div>

  <button class="verify__password-button" type="submit" (click)="onPasswordVerify()">Verify</button>
</div>

<ngx-spinner
  bdColor = "rgba(0, 0, 0, 0.8)"
  size = "medium"
  color = "#fff"
  type = "square-jelly-box"
  [fullScreen] = "true"
><p style="color: white" > Loading... </p>
</ngx-spinner>

