.poll__item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 40px 40px 40px;

  .poll__item-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #E5EAD9;
    padding: 0 20px;
    text-align: center;

    &:focus {
      border: 10px solid #F8C64C;
    }
  }

  .poll__item-content{
    .poll__item-title{
      margin-top: 15px;
      font-size: 18px;
      font-weight: bold;
    }
  }

  .poll__item-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .poll__item-launch-wrapper{
    margin-right: 10px;
  }

  .poll__item-cloud-wrapper{
    margin-right: 10px;
  }
}
