<div class="poll__item-wrapper">
  <div class="poll__item-card">
    <div class="poll__item-content" (click)="onTitleClick()">
      <h1 class="poll__item-title">{{poll.title}}</h1>
    </div>
    <div class="poll__item-icons">
      <div class="poll__item-launch-wrapper">
        <mat-icon class="poll__item-launch">launch</mat-icon>
      </div>
      <div class="poll__item-cloud-wrapper">
        <mat-icon class="poll__item-cloud">cloud_download</mat-icon>
      </div>
      <div class="poll__item-delete-wrapper">
        <mat-icon class="poll__item-delete" (click)="onDeletePoll()">delete</mat-icon>
      </div>
    </div>
  </div>
</div>
