<div class="sign__up-container">
  <form class="sign-up__form" [formGroup]="signUpForm" (ngSubmit)="handleRegister()">
    <div class="sign-up__content">
      <h1 class="sign-up__title">Sign-Up</h1>
      <div class="sign-up__combined-inputs">
        <div class="sign-up__input-wrap">
          <input class="sign-up-input"
                 placeholder="Fistname"
                 formControlName="firstName"/>
        </div>
        <div class="sign-up__input-wrap">
          <input class="sign-up-input"
                 placeholder="Lastname"
                 formControlName="lastName"/>
        </div>
      </div>
      <div class="sign-up__input-wrap">
        <input class="sign-up-input"
               placeholder="Username"
               formControlName="userName"/>
      </div>
      <div class="sign-up__combined-inputs">
        <div class="sign-up__input-wrap">
          <input class="sign-up-input"
                 placeholder="Password"
                 formControlName="password"/>
        </div>
        <div class="sign-up__input-wrap">
          <input class="sign-up-input"
                 placeholder="RepeatPassword"
                 formControlName="repeatPassword"/>
        </div>
      </div>
      <div class="sign-up__handle-submit">
        <button class="sign-up__submit-button" type="submit" [disabled]="this.signUpForm.invalid">Sign Up</button>
        <div class="sign-up__handle-information">
          <span class="sign-up__information-text">Already have an account?</span>
          <a class="sign-up__ref" routerLink="">Sign-In</a>
        </div>
      </div>
    </div>
  </form>

</div>
