.account__settings-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;

  max-width: 80%;

  background: #E5EAD9;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

  .account__settings-back{
    position: absolute;
  }

  .account__settings-main{
    margin-top: 40px;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
  }

  .account__settins-content {
    border: 2px solid #2D2F2C;
    border-radius: 10px;
    background-color: #E5EAD9;
    margin-bottom: 20px;

    &:focus {
      border: 10px solid #F8C64C;
    }

    .account__settins-title{
      padding-top: 12px;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
    }
  }

  .account__settins-delete{
    width: 100%;
    background-color: #2D2F2C;
    color: #FFFFFF;
    text-align: center;
    border: none;
    border-radius: 8px;
    font-weight: 400;
    padding: 12px;
  }

}


