<div class="create__poll-wrapper">
  <ul class="create__poll-tabs">
    <li (click)="onTabClick('General Information')" class="create__poll-tab" [class.active]="activeTab === 'General Information'"
    >General Information
    </li>
    <li (click)="onTabClick('Questions')" class="create__poll-tab" [class.active]="activeTab === 'Questions'"
    >Questions</li>
  </ul>
  <form *ngIf="activeTab === 'General Information'" class="create__poll-general" [formGroup]="createPollForm">
    <div class="create__poll-content">
      <div class="create__item-wrap">
        <input class="create__item-input" type="text" placeholder="Enter the title" formControlName="title">
      </div>
    </div>
    <div class="create__poll-content">
      <div class="create__item-wrap">
        <input class="create__item-input" type="text" placeholder="Enter the Description" formControlName="description">
      </div>
    </div>
    <div class="create__poll-content">
      <div class="create__item-wrap">
        <input class="create__item-input" type="text" placeholder="Enter the Number of questions" formControlName="numOfQuestions">
      </div>
    </div>
    <div class="create__poll-content">
      <div class="create__item-wrap">
        <input class="create__item-input" type="text" placeholder="Enter the Duration" formControlName="duration">
      </div>
    </div>
    <div class="create__poll-actions">
      <button class="create__poll-actions-confirm" type="submit" (click)="handlePollCreation()">Next</button>
      <button class="create__poll-actions-reject" type="submit" (click)="onReject()">Back</button>
    </div>
  </form>
  <form *ngIf="activeTab === 'Questions'" class="create__poll-questions" [formGroup]="createQuestionsToPoll" (ngSubmit)="onSubmit()">
    <div class="current__numOfQuestions">
      <h3 class="current__numOfQuestions-test">Current number of questions: {{numOfQuestions}}</h3>
    </div>
    <div formArrayName="questions">
      <div *ngFor="let question of questions().controls; let questionIndex=index">
        <div class="create__question-item-wrapper" [formGroupName]="questionIndex">
          <div class="create__question__item-general">
            <h3 class="create__question__item-title">Question:</h3>
          </div>
          <div class="create__question__item-content">
            <div class="create__question-item-wrap">
              <input class="create__question-item-input" type="text" placeholder="Enter the question name" formControlName="questionText">
            </div>
            <div class="create__item-icons">
              <mat-icon class="add__answer-icon" (click)="addQuestionAnswer(questionIndex)">add</mat-icon>
            </div>
          </div>
          <div class="create__answer-item-general">
            <h3 class="create__answer-item-title">Answers:</h3>
          </div>
          <div formArrayName="answers">
            <div *ngFor="let answer of questionAnswers(questionIndex).controls; let answerIndex=index">
              <div class="create__answer-content" [formGroupName]="answerIndex">
                <div class="create__answer-item-wrap">
                  <input class="create__answer-item-input" type="text" placeholder="Enter the answer text" formControlName="answerText">
                </div>
                <div class="create__item-icons">
                  <select class="create__item-selector" formControlName="scoreGid">
                    <option *ngFor="let score of scores" [value]="score.scoreGid">{{score.scoreValue}}</option>
                  </select>
                  <mat-icon class="create__item-icon" (click)="removeQuestionAnswer(questionIndex, answerIndex)">remove</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="create__poll-actions">
      <button class="create__poll-actions-confirm" type="submit">Submit</button>
    </div>
  </form>
</div>

